@charset "UTF-8";
/* About Page Section */
.about-section {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

.about-section h1 {
    font-size: 2.5rem;
    color: #009688;
    margin-bottom: 2rem;
}

.about-section p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #555;
    line-height: 1.6;
}

.about-details {
    margin-top: 3rem;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.about-details h2 {
    font-size: 2rem;
    color: #00796b;
    margin-bottom: 1rem;
}

.about-details ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.about-details ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #009688;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
