@charset "UTF-8";
#update-section {
    background: linear-gradient(to right, #0a74da, #48a9f8);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.update-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.profile-field {
    margin-bottom: 20px;
}

.profile-field label {
    display: block;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f4f4f4;
}

.update-btn {
    background-color: #0a74da;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

.update-btn:hover {
    background-color: #0056a3;
}
